{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Performances</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{% static 'Repertoire/style.css' %}" />

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
</body>
</html>


<div class="header">


	<form action="{% url 'Repertoire:Login' %}" method='post'>
	
	{% if loggedin %}
		Logged in as: {{ username }}  <a href="{% url 'Repertoire:Logout' %}">  Logout</a>
	{% else %}

	{% csrf_token %}
	Login:<input type="text" name="username">
	Password:<input type="password" name="password">
	<input type="submit" value="Login">
	{% endif %}

	</form>

</div>
	
	{% if loggedin %}
		</br>

	<form action="{% url 'Performances:test' %}" method='post'>
	{% csrf_token %}
	<label for="Performances">Choose a performance: </label>
	<select onchange="this.form.submit()" name="Performances">
			{% for Performance in Performances %}
		    <option value="{{ Performance }}" {% if Performance == CurrentSelection %}selected{% endif%}>{{Performance}}</option>
			{% endfor %}
	</select>		
	
	</form>
	
	</br></br>

	<ul>
		{% for song in Songs %}
		    <li>{{ song }}</li>
		{% endfor %}
	</ul>

	{% endif %}

</body>
</html>