<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
</body>
</html>
	
	</br>
	{% if error_message %}
	Error
	{% endif %}
	

	</br>
	<br>


	<form action="{% url 'Repertoire:AddSong' %}" method='post'>
	{% csrf_token %}
	Song Name:<input type="text" name="SongName"><br>
	<input type="submit" value="Add Song">

	</form>

	<form>
	
	</form>



  <!-- <script src="js/scripts.js"></script> -->


</body>
</html>