{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Repertoar</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{% static 'Repertoire/style.css' %}" />

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
</body>
</html>


<div class="header">


	<form action="{% url 'Repertoire:Login' %}" method='post'>
	
	{% if loggedin %}
		Logged in as: {{ username }}  <a href="{% url 'Repertoire:Logout' %}">  Logout</a>
	{% else %}

	{% csrf_token %}
	Login:<input type="text" name="username">
	Password:<input type="password" name="password">
	<input type="submit" value="Login">
	{% endif %}

	</form>

</div>
	
	{% if loggedin %}
	</br></br>

	<ul>
		{% for song in songs %}
		    <li>{{ song }}</li>
		{% endfor %}
	</ul>


	<form action="{% url 'Repertoire:AddSong' %}" method='post'>
	{% csrf_token %}
	Song Name:<input type="text" name="SongName"><br>
	<input type="submit" value="Add Song">

	</form>
	{% endif %}


  <!-- <script src="js/scripts.js"></script> -->


</body>
</html>